/**
 * gaoyang hls touch css
 */

html, body {
    height: 100%;
    background: #eee;
}

body {
    padding: 18px 0px 0px;
}

.least-event{
    color:#666;
    font-weight: 300!important;
}

.latest-event {
    width: inherit;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    padding-left: 10px;
    background-color: #fff;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    color: #000
}

.latest-event-item {
    width: inherit;
    height: 82.5px;
    background-color: #fff;
    position: relative;
}

.latest-event-item:hover
{
    background-color:#FBFBFB;
}

.lei-content {
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    width: inherit;
    height: 40px;
    color: #666;
    line-height: 40px;
    vertical-align: middle
}

.lei-foot {
    height: 42px;
    width: inherit;
}

.lei-foot-time-img {
    display: block;
    float: left;
    width: 17px;
    height: 20px;
    margin-top: 6px;
    color: #999;
}

.lei-foot-time {
    float: left;
    height: inherit;
    width: 100px;
    padding-top: 8px;
    color: #999;
    font-size: 12px;
}

.lei-foot-amt {
    float: left;
    width: 120px;
    height: inherit;
    color: #666;
    padding-top: 7px;
    padding-left: 30px;
    font-size: 12px;
}

.lei-foot-link-img {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 255px;
    top: 25px;
}