/**
 * 
 * 
 * 
 * @author yang.gao01@hand-china.com
 * 
 */
ul.hls-nav-tabs{
    width: 140px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.hls-nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
ul.hls-nav-tabs li:first-child{
    border-top: none;
}
ul.hls-nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}
ul.hls-nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}
ul.hls-nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
ul.hls-nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
ul.hls-nav-tabs.affix{
    top: 0px; /* Set the top position of pinned element */
}

.hlsPannel{
	float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.hlsPannel-header{
	width:10%
}

.hlsPannel-body{
	width:90%
}
