.hls_page{
    width: 870px;
    background: white;
    color:black;
}

.hls_page .hls_page_title{
    height: 40px;
    border-bottom: 4px solid #FA6A4D;
}
.hls_page .hls_page_title .hls_page_title_left{
    float: left;
    height: 20px;
    margin-left: 5px;
    margin-top: 7px;
}
.hls_page .hls_page_title .hls_page_title_left img{
    display: inline-block;
    width:20px;
    height:20px;
}
.hls_page .hls_page_title .hls_page_title_left span{
    font-weight: 600;
}
.hls_page .hls_page_title .hls_page_title_right{
    float: right;
    height: 20px;
    margin-right: 5px;
    margin-top: 7px;
}
.hls_page .hls_page_title .hls_page_title_right img{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.hls_page .hls_page_body{
    width: initial;
    height: 275px;
}
.hls_page .hls_page_body table{
    width: 98%;
    border-collapse: collapse;
    margin: auto;
}
.hls_page .hls_page_body table tr{
    height: 40px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.hls_page .hls_page_foot{
    width:initial;
}
.hls_page_foot img{
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.hls_page_foot_contain{
    margin:auto;
    width: 40px;
}
.search-style{
    height: 24px;
    width: 140px;
    display:none;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    color:#000;
    font-size:12px;
    font-weight: normal;
    float: right;
    outline: none;
}