.k-window.k-window-slide {
	-webkit-transition: left .3s ease-out;
	transition: left .3s ease-out;
	-webkit-box-sizing:border-box!important;
	        box-sizing:border-box!important;
}

.k-window-titlebar{
	background-color: #00b3b3!important;
	margin-top: -30px!important;
}

.k-window-title{
	color:#fff!important;
	line-height: 18px;
}
.k-window-titlebar .k-window-actions{
	padding-top:3px;
}
.k-widget.k-window{
	padding-top: 30px!important;
}
